# EDA - 1 - Checking null and dropping features and observations

In [125]:
# imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import numbers

In [57]:
# import merged data

with open('data/merged_df.json', 'r') as f:
  data = json.load(f)

df = pd.DataFrame(data)

In [58]:
# check the merged dataset

df.head()

,age,breeder,category,certificate,cleaned_strings,description,details,gender,gpt_dict,image_path,...,sku,split,tags,tags_from_category,tags_from_title,tags_list,title,uuid,variety,source
0,NaN,Isa,Group_Koi,NaN,"[14"", (36cm), Female, Showa, [Isa], 2025WINTER...",NaN,NaN,Female,NaN,champkoi_data/87e22e_A_14_(36cm)_Female_Showa_...,...,9689837273400,"[A:, 14"", (36cm), Female, Showa, [Isa], —, 202...",['Showa'],NaN,NaN,[Showa],"A: 14"" (36cm) Female Showa [Isa] — 2025WINTER-012",87e22e,"A: 14"" (36cm) Female Showa [Isa]",champkoi
1,NaN,Isa,Group_Koi,NaN,"[14"", (36cm), Male, Showa, [Isa], 2025WINTER-014]",NaN,NaN,Male,NaN,champkoi_data/188b5a_A_14_(36cm)_Male_Showa_[I...,...,9689846350136,"[A:, 14"", (36cm), Male, Showa, [Isa], —, 2025W...",['Showa'],NaN,NaN,[Showa],"A: 14"" (36cm) Male Showa [Isa] — 2025WINTER-014",188b5a,"A: 14"" (36cm) Male Showa [Isa]",champkoi
2,NaN,Isa,Group_Koi,NaN,"[13"", (33cm), Male, Showa, [Isa], 2025WINTER-015]",NaN,NaN,Male,NaN,champkoi_data/911317_A_13_(33cm)_Male_Showa_[I...,...,9689850118456,"[A:, 13"", (33cm), Male, Showa, [Isa], —, 2025W...",['Showa'],NaN,NaN,[Showa],"A: 13"" (33cm) Male Showa [Isa] — 2025WINTER-015",911317,"A: 13"" (33cm) Male Showa [Isa]",champkoi
3,NaN,Isa,Group_Koi,NaN,"[14"", (36cm), Female, Showa, [Isa], 2025WINTER...",NaN,NaN,Female,NaN,champkoi_data/dd27e7_A_14_(36cm)_Female_Showa_...,...,9689853329720,"[A:, 14"", (36cm), Female, Showa, [Isa], —, 202...",['Showa'],NaN,NaN,[Showa],"A: 14"" (36cm) Female Showa [Isa] — 2025WINTER-016",dd27e7,"A: 14"" (36cm) Female Showa [Isa]",champkoi
4,NaN,Marusaka,Group_Koi,NaN,"[14"", (36cm), Male, Kohaku, [Marusaka], 2025WI...",NaN,NaN,Male,NaN,champkoi_data/de2cb4_A_14_(36cm)_Male_Kohaku_[...,...,9689970475320,"[A:, 14"", (36cm), Male, Kohaku, [Marusaka], —,...","['Kohaku', 'Shiro Utsuri', 'Shusui']",NaN,NaN,"[Kohaku, Shiro Utsuri, Shusui]","A: 14"" (36cm) Male Kohaku [Marusaka] — 2025WIN...",de2cb4,"A: 14"" (36cm) Male Kohaku [Marusaka]",champkoi

In [59]:
# check the info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3844 entries, 0 to 3843
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 402 non-null    object
 1   breeder             798 non-null    object
 2   category            2586 non-null   object
 3   certificate         402 non-null    object
 4   cleaned_strings     185 non-null    object
 5   description         402 non-null    object
 6   details             363 non-null    object
 7   gender              740 non-null    object
 8   gpt_dict            408 non-null    object
 9   image_path          3844 non-null   object
 10  image_url           3844 non-null   object
 11  in_stock            593 non-null    object
 12  length_cm           35 non-null     object
 13  length_inches       3640 non-null   object
 14  link                3844 non-null   object
 15  multiple_fish       3838 non-null   object
 16  out_of_stock        1379 non-null   object
 17  price               3823 non-null   object
 18  sku                 3805 non-null   object
 19  split               185 non-null    object
 20  tags                3843 non-null   object
 21  tags_from_category  2371 non-null   object
 22  tags_from_title     2370 non-null   object
 23  tags_list           185 non-null    object
 24  title               3844 non-null   object
 25  uuid                3844 non-null   object
 26  variety             185 non-null    object
 27  source              3844 non-null   object
dtypes: object(28)
memory usage: 841.0+ KB

In [60]:
# create a dataframe for the info

# Get the data types
dtypes = df.dtypes

# Get the non-null counts
counts = df.count()

# Create a new DataFrame
info_df = pd.DataFrame({'Column': dtypes.index, 'Dtype': dtypes.values, 'Non-Null Count': counts.values})

info_df

                Column   Dtype  Non-Null Count
0                  age  object             402
1              breeder  object             798
2             category  object            2586
3          certificate  object             402
4      cleaned_strings  object             185
5          description  object             402
6              details  object             363
7               gender  object             740
8             gpt_dict  object             408
9           image_path  object            3844
10           image_url  object            3844
11            in_stock  object             593
12           length_cm  object              35
13       length_inches  object            3640
14                link  object            3844
15       multiple_fish  object            3838
16        out_of_stock  object            1379
17               price  object            3823
18                 sku  object            3805
19               split  object             185
20                tags  object            3843
21  tags_from_category  object            2371
22     tags_from_title  object            2370
23           tags_list  object             185
24               title  object            3844
25                uuid  object            3844
26             variety  object             185
27              source  object            3844

In [61]:
# calculate the total number of observations

total_observations = info_df[info_df['Column'] == 'uuid']['Non-Null Count'].values[0]
total_observations

np.int64(3844)

In [62]:
# determine the features that have more than 10% nulls

cols_to_drop = []

for index, row in info_df.iterrows():
  if row['Non-Null Count'] / total_observations < 0.9:
    cols_to_drop.append(row['Column'])

cols_to_drop

['age',
 'breeder',
 'category',
 'certificate',
 'cleaned_strings',
 'description',
 'details',
 'gender',
 'gpt_dict',
 'in_stock',
 'length_cm',
 'out_of_stock',
 'split',
 'tags_from_category',
 'tags_from_title',
 'tags_list',
 'variety']

In [63]:
# drop the features that have more than 10% nulls

df = df.drop(columns=cols_to_drop)
df

,image_path,image_url,length_inches,link,multiple_fish,price,sku,tags,title,uuid,source
0,champkoi_data/87e22e_A_14_(36cm)_Female_Showa_...,https://cdn.shopify.com/s/files/1/0749/6132/22...,"14""",https://www.champkoi.com/products/2025winter-012,True,450.0,9689837273400,['Showa'],"A: 14"" (36cm) Female Showa [Isa] — 2025WINTER-012",87e22e,champkoi
1,champkoi_data/188b5a_A_14_(36cm)_Male_Showa_[I...,https://cdn.shopify.com/s/files/1/0749/6132/22...,"14""",https://www.champkoi.com/products/2025winter-014,True,450.0,9689846350136,['Showa'],"A: 14"" (36cm) Male Showa [Isa] — 2025WINTER-014",188b5a,champkoi
2,champkoi_data/911317_A_13_(33cm)_Male_Showa_[I...,https://cdn.shopify.com/s/files/1/0749/6132/22...,"13""",https://www.champkoi.com/products/2025winter-015,True,450.0,9689850118456,['Showa'],"A: 13"" (33cm) Male Showa [Isa] — 2025WINTER-015",911317,champkoi
3,champkoi_data/dd27e7_A_14_(36cm)_Female_Showa_...,https://cdn.shopify.com/s/files/1/0749/6132/22...,"14""",https://www.champkoi.com/products/2025winter-016,True,450.0,9689853329720,['Showa'],"A: 14"" (36cm) Female Showa [Isa] — 2025WINTER-016",dd27e7,champkoi
4,champkoi_data/de2cb4_A_14_(36cm)_Male_Kohaku_[...,https://cdn.shopify.com/s/files/1/0749/6132/22...,"14""",https://www.champkoi.com/products/2025winter-017,True,450.0,9689970475320,"['Kohaku', 'Shiro Utsuri', 'Shusui']","A: 14"" (36cm) Male Kohaku [Marusaka] — 2025WIN...",de2cb4,champkoi
...,...,...,...,...,...,...,...,...,...,...,...
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,https://sacramentokoi.com/wp-content/uploads/2...,17″,https://sacramentokoi.com/yellow-dragon-17-240...,False,$600.00,240154405.0,"[Yellow, Dragon, Aokiya]",Yellow Dragon 17″ – 240154405,e04f2c,sacramentokoi
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,https://sacramentokoi.com/wp-content/uploads/2...,14″,https://sacramentokoi.com/yellow-ginga-14-2400...,False,$375.00,240054090.0,"[Yellow, Ginga]",Yellow Ginga 14″ – 240054090,754a14,sacramentokoi
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,https://sacramentokoi.com/wp-content/uploads/2...,19″,https://sacramentokoi.com/yellow-ginga-19-2404...,False,"$1,600.00",240489285.0,"[Yellow, Ginga]",Yellow Ginga 19″ – 240489285,1cb46d,sacramentokoi
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,https://sacramentokoi.com/wp-content/uploads/2...,20″,https://sacramentokoi.com/yellow-ginga-20-2402...,False,"$2,300.00",240290281.0,"[Yellow, Ginga]",Yellow Ginga 20″ – 240290281,ba392c,sacramentokoi
3843,sacramentokoi_data/9a51ec_Koi_Pre-Order.jpg,https://sacramentokoi.com/wp-content/uploads/2...,None,https://sacramentokoi.com/koi-pre-order-product/,True,$100.00,NaN,NaN,Koi Pre-Order,9a51ec,sacramentokoi

In [64]:
# other columns to drop (irrelevant): image_url, link, sku, source, title

df = df.drop(columns=['image_url', 'link', 'sku', 'source', 'title'])
df.head()

,image_path,length_inches,multiple_fish,price,tags,uuid
0,champkoi_data/87e22e_A_14_(36cm)_Female_Showa_...,"14""",True,450.0,['Showa'],87e22e
1,champkoi_data/188b5a_A_14_(36cm)_Male_Showa_[I...,"14""",True,450.0,['Showa'],188b5a
2,champkoi_data/911317_A_13_(33cm)_Male_Showa_[I...,"13""",True,450.0,['Showa'],911317
3,champkoi_data/dd27e7_A_14_(36cm)_Female_Showa_...,"14""",True,450.0,['Showa'],dd27e7
4,champkoi_data/de2cb4_A_14_(36cm)_Male_Kohaku_[...,"14""",True,450.0,"['Kohaku', 'Shiro Utsuri', 'Shusui']",de2cb4

In [65]:
# drop all observations that is True in multiple_fish

df = df[df['multiple_fish']==False]
df

,image_path,length_inches,multiple_fish,price,tags,uuid
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,None,False,600.0,['Kohaku'],f2d44e
28,champkoi_data/539603_Default_Title_—_25C-002_K...,None,False,600.0,['Kohaku'],539603
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,None,False,600.0,['Kohaku'],2126f3
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,None,False,600.0,['Kohaku'],5c0dc1
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,None,False,600.0,['Kohaku'],b2c648
...,...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,16″,False,$650.00,"[Yellow, Dragon, Aokiya]",99a251
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,17″,False,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,14″,False,$375.00,"[Yellow, Ginga]",754a14
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,19″,False,"$1,600.00","[Yellow, Ginga]",1cb46d
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,20″,False,"$2,300.00","[Yellow, Ginga]",ba392c

In [66]:
# now drop the multiple_fish feature

df = df.drop(columns=['multiple_fish'])
df

,image_path,length_inches,price,tags,uuid
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,None,600.0,['Kohaku'],f2d44e
28,champkoi_data/539603_Default_Title_—_25C-002_K...,None,600.0,['Kohaku'],539603
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,None,600.0,['Kohaku'],2126f3
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,None,600.0,['Kohaku'],5c0dc1
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,None,600.0,['Kohaku'],b2c648
...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,16″,$650.00,"[Yellow, Dragon, Aokiya]",99a251
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,17″,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,14″,$375.00,"[Yellow, Ginga]",754a14
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,19″,"$1,600.00","[Yellow, Ginga]",1cb46d
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,20″,"$2,300.00","[Yellow, Ginga]",ba392c

In [67]:
# check for any more ranges in length_inches

df[df['length_inches'].str.contains('-', na=False)]

,image_path,length_inches,price,tags,uuid
313,gckoi_data/f3ea3be_OTSUKA_KI_UTSURI_FEMALES_17...,"17""-18""",700.0,"['fall 2024', 'ki utsuri', 'koi', 'nisai', 'ot...",f3ea3be
477,gckoi_data/7a59a68_OTSUKA_KARASUGOI_FEMALES_17...,"17""-18""",500.0,"['fall 2024', 'KARASU', 'koi', 'nisai', 'otsuka']",7a59a68
569,gckoi_data/204acd3_SAKAZUME_KIN_KABUTO_16-18.jpg,"16""-18""",450.0,"['fall 2024', 'kabuto', 'koi', 'nisai', 'sakaz...",204acd3

In [68]:
# drop these 3 observations that have ranges in the length

df = df[~df['length_inches'].str.contains('-', na=False)]
df

,image_path,length_inches,price,tags,uuid
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,None,600.0,['Kohaku'],f2d44e
28,champkoi_data/539603_Default_Title_—_25C-002_K...,None,600.0,['Kohaku'],539603
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,None,600.0,['Kohaku'],2126f3
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,None,600.0,['Kohaku'],5c0dc1
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,None,600.0,['Kohaku'],b2c648
...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,16″,$650.00,"[Yellow, Dragon, Aokiya]",99a251
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,17″,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,14″,$375.00,"[Yellow, Ginga]",754a14
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,19″,"$1,600.00","[Yellow, Ginga]",1cb46d
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,20″,"$2,300.00","[Yellow, Ginga]",ba392c

In [69]:
# check the datatypes

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3404 entries, 27 to 3842
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image_path     3404 non-null   object
 1   length_inches  3252 non-null   object
 2   price          3383 non-null   object
 3   tags           3404 non-null   object
 4   uuid           3404 non-null   object
dtypes: object(5)
memory usage: 159.6+ KB

In [85]:
# change length_inches and price to integers
# create a function

def clean_length(string):
  if isinstance(string, numbers.Number):
    return float(string)
  if isinstance(string, str) and string.strip():
    if string[0].isdigit():
      return float(string.strip("”").strip('″').strip('"'))
  else:
    return np.nan

In [86]:
# apply the function

df['length'] = df['length_inches'].apply(clean_length)
df

/var/folders/bh/crnltg950_n8l07mfm97qdtc0000gn/T/ipykernel_88597/3331685317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['length'] = df['length_inches'].apply(clean_length)

,image_path,length_inches,price,tags,uuid,length
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,None,600.0,['Kohaku'],f2d44e,NaN
28,champkoi_data/539603_Default_Title_—_25C-002_K...,None,600.0,['Kohaku'],539603,NaN
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,None,600.0,['Kohaku'],2126f3,NaN
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,None,600.0,['Kohaku'],5c0dc1,NaN
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,None,600.0,['Kohaku'],b2c648,NaN
...,...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,16″,$650.00,"[Yellow, Dragon, Aokiya]",99a251,16.0
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,17″,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c,17.0
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,14″,$375.00,"[Yellow, Ginga]",754a14,14.0
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,19″,"$1,600.00","[Yellow, Ginga]",1cb46d,19.0
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,20″,"$2,300.00","[Yellow, Ginga]",ba392c,20.0

In [88]:
# drop length_inches

df = df.drop(columns='length_inches')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3404 entries, 27 to 3842
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_path  3404 non-null   object
 1   price       3383 non-null   object
 2   tags        3404 non-null   object
 3   uuid        3404 non-null   object
 4   length      3155 non-null   float64
dtypes: float64(1), object(4)
memory usage: 159.6+ KB

In [93]:
# check for any non-numeric characters in the price feature

df['price'].value_counts()

price
350.0                                                                           88
299.99                                                                          59
249.99                                                                          59
199.99                                                                          57
399.99                                                                          45
                                                                                ..
$4,999.00Original price was: $4,999.00.$4,499.00Current price is: $4,499.00.     1
$7,999.00Original price was: $7,999.00.$6,999.00Current price is: $6,999.00.     1
$5,999.00Original price was: $5,999.00.$4,999.00Current price is: $4,999.00.     1
$26,999.00                                                                       1
$6,999.00Original price was: $6,999.00.$6,500.00Current price is: $6,500.00.     1
Name: count, Length: 354, dtype: int64

In [99]:
# check for abnormally long price, which may indicate this is extra information

df['price_length'] = df['price'].astype(str).str.len()
df

,image_path,price,tags,uuid,length,price_length
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,600.0,['Kohaku'],f2d44e,NaN,5
28,champkoi_data/539603_Default_Title_—_25C-002_K...,600.0,['Kohaku'],539603,NaN,5
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,600.0,['Kohaku'],2126f3,NaN,5
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,600.0,['Kohaku'],5c0dc1,NaN,5
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,600.0,['Kohaku'],b2c648,NaN,5
...,...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,$650.00,"[Yellow, Dragon, Aokiya]",99a251,16.0,7
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c,17.0,7
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,$375.00,"[Yellow, Ginga]",754a14,14.0,7
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,"$1,600.00","[Yellow, Ginga]",1cb46d,19.0,9
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,"$2,300.00","[Yellow, Ginga]",ba392c,20.0,9

In [104]:
# sort by length

df.sort_values(by='price_length', ascending=False).head(50)

,image_path,price,tags,uuid,length,price_length
774,grandkoi_data/fb52de_Showa.jpeg,"$16,999.00Original price was: $16,999.00.$14,9...",[Showa],fb52de,31.0,80
765,grandkoi_data/264622_Showa.jpeg,"$10,999.00Original price was: $10,999.00.$8,00...",[Showa],264622,29.0,78
702,grandkoi_data/f2d371_Benigoi.jpeg,"$2,499.00Original price was: $2,499.00.$1,999....",[Benigoi],f2d371,23.0,76
798,grandkoi_data/396463_Sanke.jpeg,"$2,499.00Original price was: $2,499.00.$1,999....",[Sanke],396463,23.0,76
797,grandkoi_data/e8edc3_Sanke.jpeg,"$4,999.00Original price was: $4,999.00.$4,499....",[Sanke],e8edc3,30.0,76
796,grandkoi_data/83a08f_Maruten Showa.jpeg,"$6,999.00Original price was: $6,999.00.$5,999....","[Maruten, Showa]",83a08f,28.0,76
795,grandkoi_data/d1957a_Sanke.jpeg,"$4,999.00Original price was: $4,999.00.$3,999....",[Sanke],d1957a,26.0,76
794,grandkoi_data/63cc44_Showa.jpeg,"$6,999.00Original price was: $6,999.00.$5,999....",[Showa],63cc44,28.0,76
793,grandkoi_data/e68f3c_Showa.jpeg,"$6,999.00Original price was: $6,999.00.$6,500....",[Showa],e68f3c,29.0,76
656,grandkoi_data/5a4238_Kujaku.png,"$4,999.00Original price was: $4,999.00.$3,999....",[Kujaku],5a4238,23.0,76
805,grandkoi_data/eb4d0f_Beni Kikokuryu.jpg,"$5,999.00Original price was: $5,999.00.$4,999....","[Beni, Kikokuryu]",eb4d0f,28.0,76
707,grandkoi_data/fdf9d1_Benigoi.jpeg,"$3,499.00Original price was: $3,499.00.$2,499....",[Benigoi],fdf9d1,26.0,76
706,grandkoi_data/86e1b7_Benigoi.jpeg,"$2,799.00Original price was: $2,799.00.$1,699....",[Benigoi],86e1b7,23.0,76
705,grandkoi_data/bd49c4_Benigoi.jpeg,"$2,999.00Original price was: $2,999.00.$1,999....",[Benigoi],bd49c4,24.0,76
701,grandkoi_data/e60c05_Benigoi.jpeg,"$2,499.00Original price was: $2,499.00.$1,999....",[Benigoi],e60c05,26.0,76
699,grandkoi_data/8837f7_Benigoi.jpeg,"$2,999.00Original price was: $2,999.00.$1,999....",[Benigoi],8837f7,24.0,76
697,grandkoi_data/67c13a_Benigoi.jpeg,"$2,499.00Original price was: $2,499.00.$1,999....",[Benigoi],67c13a,24.0,76
695,grandkoi_data/2c3fe1_Benigoi.jpeg,"$2,999.00Original price was: $2,999.00.$1,999....",[Benigoi],2c3fe1,24.0,76
801,grandkoi_data/4d019c_Doitsu Sanke.jpg,"$7,999.00Original price was: $7,999.00.$6,999....","[Doitsu, Sanke]",4d019c,29.0,76
692,grandkoi_data/ffa1a8_Benigoi.jpeg,"$3,499.00Original price was: $3,499.00.$1,999....",[Benigoi],ffa1a8,26.0,76
2452,nextdaykoi_data/b482ead8_10”_Imported_Female_K...,$500.00$400.00,"[All Hikari Koi, Hikarimoyo, Imported Koi, Kik...",b482ead8,10.0,14
2615,nextdaykoi_data/8b0d8e9e_7”_Imported_Kujaku_Bu...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",8b0d8e9e,7.0,14
2638,nextdaykoi_data/69410980_8”_Imported_Orenji_Og...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimuji, Im...",69410980,8.0,14
2637,nextdaykoi_data/dc9cc9c3_8”_Imported_Armor_Sca...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",dc9cc9c3,8.0,14
2636,nextdaykoi_data/e8d57aae_8”_Imported_Kin_Kikok...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",e8d57aae,8.0,14
2635,nextdaykoi_data/97b26ed5_8”_Imported_Doitsu_Ku...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",97b26ed5,8.0,14
2622,nextdaykoi_data/107cade2_6”_Imported_Platinum_...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimuji, Im...",107cade2,6.0,14
2621,nextdaykoi_data/5479b76b_6.5”_Imported_Kin_Kik...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",5479b76b,6.5,14
2620,nextdaykoi_data/23b2bf8f_6.5”_Imported_Kujaku_...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",23b2bf8f,6.5,14
2619,nextdaykoi_data/a7d0cd6c_6.5”_Imported_Kujaku_...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",a7d0cd6c,6.5,14
2618,nextdaykoi_data/178d987a_6.5”_Imported_Kin_Kik...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",178d987a,6.5,14
2617,nextdaykoi_data/9cb32a2c_6.5”_Imported_Heisei_...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Heisei Nishik,...",9cb32a2c,6.5,14
2616,nextdaykoi_data/3721b56a_7”_Imported_Kujaku_Bu...,$145.00$101.50,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",3721b56a,7.0,14
2584,nextdaykoi_data/44e9a750_9”_Imported_Gin_Matsu...,$360.00$288.00,"[All Hikari Koi, Butterfly Koi, Hikarimuji, Im...",44e9a750,9.0,14
2640,nextdaykoi_data/da95df46_8”_Imported_Yamato_Ni...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",da95df46,8.0,14
2583,nextdaykoi_data/fb6ae650_9”_Imported_Hariwake_...,$360.00$288.00,"[All Hikari Koi, Butterfly Koi, ""Crystal's Fea...",fb6ae650,9.0,14
2442,nextdaykoi_data/def3c860_6.5”_Imported_Yamato_...,$145.00$116.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",def3c860,6.5,14
2582,nextdaykoi_data/51759a7d_9”_Imported_Heisei_Ni...,$360.00$288.00,"[All Hikari Koi, Butterfly Koi, Heisei Nishik,...",51759a7d,9.0,14
2581,nextdaykoi_data/4b7eefd1_9”_Imported_Kikokuryu...,$360.00$288.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",4b7eefd1,9.0,14
2580,nextdaykoi_data/da0530f4_10”_Imported_Gin_Rin_...,$360.00$288.00,"[Butterfly Koi, Imported Koi, Kawarimono, Koi,...",da0530f4,10.0,14
2572,nextdaykoi_data/c6a02b2e_10”_Imported_Male_Gin...,$400.00$320.00,"[Imported Koi, Kawarimono, Koi, Ochiba Shigure...",c6a02b2e,10.0,14
2571,nextdaykoi_data/007226a8_10”_Imported_Male_Doi...,$400.00$320.00,"[All Hikari Koi, Hikarimuji, Imported Koi, Koi...",007226a8,10.0,14
2570,nextdaykoi_data/5585285b_10”_Imported_Male_Gin...,$400.00$320.00,"[All Hikari Koi, ""Crystal's Featured Fish"", Hi...",5585285b,10.0,14
2569,nextdaykoi_data/7ba4196e_10”_Imported_Male_Gin...,$400.00$320.00,"[All Hikari Koi, Hikarimuji, Imported Koi, Koi...",7ba4196e,10.0,14
2568,nextdaykoi_data/941c8463_10”_Imported_Male_San...,$400.00$320.00,"[Gosanke, Imported Koi, Koi, Sanke, Single Fis...",941c8463,10.0,14
2567,nextdaykoi_data/28f95fce_10”_Imported_Male_Gin...,$400.00$320.00,"[All Hikari Koi, Hikarimoyo, Imported Koi, Koi...",28f95fce,10.0,14
2639,nextdaykoi_data/174640cc_8”_Imported_Kikokuryu...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hikarimoyo, Im...",174640cc,8.0,14
2641,nextdaykoi_data/e0f6898d_7”_Imported_Gin_Rin_L...,$340.00$238.00,"[All Hikari Koi, Butterfly Koi, Hariwake, Hika...",e0f6898d,7.0,14
2565,nextdaykoi_data/c89c91aa_11”_Imported_Male_Gin...,$400.00$320.00,"[Gosanke, Imported Koi, Koi, Sanke, Single Fis...",c89c91aa,11.0,14
2416,nextdaykoi_data/942d7272_6.5”_Imported_Shusui_...,$205.00$164.00,"[Asagi and Shusui, Butterfly Koi, Imported Koi...",942d7272,6.5,14

In [127]:
# get 1st sample of price to clean

price_sample1 = df[df['uuid'] == 'fb52de']['price'].values[0]
price_sample1

'$16,999.00Original price was: $16,999.00.$14,999.00Current price is: $14,999.00.'

In [118]:
# get 2nd sample of price to clean

price_sample2 = df[df['uuid'] == 'dc9cc9c3']['price'].values[0]
price_sample2

'$340.00$238.00'

In [124]:
price_list = []
for string in price_sample2.split('$'):
  if isinstance(string, str) and string.split():
    if string[0].isdigit():
      price_list.append(string)
min(price_list)

'238.00'

In [141]:
price_list = []
for string in price_sample1.split('$'):
  if isinstance(string, str) and string.split():
    if string[0].isdigit():
      string = string.replace(r'[a-zA-Z]','')
      string = string.replace(',','')
      string = string.strip('.')
      price_list.append(string)
float(min(price_list))

14999.0

In [142]:
price_list = []
for string in price_sample2.split('$'):
  if isinstance(string, str) and string.split():
    if string[0].isdigit():
      string = string.replace(r'[a-zA-Z]','')
      string = string.replace(',','')
      string = string.strip('.')
      price_list.append(string)
float(min(price_list))

238.0

In [158]:
# create a function to clean the price string

def price_to_float(string):
  price_list = []

  if isinstance(string, numbers.Number):
    return string

  if isinstance(string, str) and string.split():
    for word in string.split('$'):
      if word.split() and word[0].isdigit():
        word = word.replace(r'[a-zA-Z]','')
        word = word.replace(',','')
        word = word.strip('.')
        price_list.append(word)

    if price_list:
      return float(min(price_list))

    else:
      print(string)

In [159]:
# apply the function

df['cleaned_price'] = df['price'].apply(price_to_float)
df

,image_path,price,tags,uuid,length,price_length,cleaned_price
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,600.0,['Kohaku'],f2d44e,NaN,5,600.0
28,champkoi_data/539603_Default_Title_—_25C-002_K...,600.0,['Kohaku'],539603,NaN,5,600.0
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,600.0,['Kohaku'],2126f3,NaN,5,600.0
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,600.0,['Kohaku'],5c0dc1,NaN,5,600.0
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,600.0,['Kohaku'],b2c648,NaN,5,600.0
...,...,...,...,...,...,...,...
3838,sacramentokoi_data/99a251_Yellow_Dragon_16″_–_...,$650.00,"[Yellow, Dragon, Aokiya]",99a251,16.0,7,650.0
3839,sacramentokoi_data/e04f2c_Yellow_Dragon_17″_–_...,$600.00,"[Yellow, Dragon, Aokiya]",e04f2c,17.0,7,600.0
3840,sacramentokoi_data/754a14_Yellow_Ginga_14″_–_2...,$375.00,"[Yellow, Ginga]",754a14,14.0,7,375.0
3841,sacramentokoi_data/1cb46d_Yellow_Ginga_19″_–_2...,"$1,600.00","[Yellow, Ginga]",1cb46d,19.0,9,1600.0
3842,sacramentokoi_data/ba392c_Yellow_Ginga_20″_–_2...,"$2,300.00","[Yellow, Ginga]",ba392c,20.0,9,2300.0

In [165]:
# check the nulls

df[df['cleaned_price'].isna()]

,image_path,price,tags,uuid,length,price_length,cleaned_price
593,grandkoi_data/d7c302_High Quality showa- SOLD....,NaN,[showa],d7c302,30.0,3,NaN
605,grandkoi_data/f2e438_Tancho Sanke- Sold.jpeg,NaN,"[Tancho, Sanke]",f2e438,22.0,3,NaN
609,grandkoi_data/776d53_GinRin Showa- SOLD.jpeg,NaN,"[GinRin, Showa]",776d53,19.0,3,NaN
632,grandkoi_data/2b13e7_Gin Rin Ki Utsuri- SOLD.jpeg,NaN,"[Gin, Rin, Ki, Utsuri]",2b13e7,16.0,3,NaN
643,grandkoi_data/b7559d_Super Jumbo Gin Rin Ochib...,NaN,"[Super, Jumbo, Gin, Rin, Ochiba]",b7559d,35.0,3,NaN
646,grandkoi_data/62754d_Gin Rin Shiro Utsuri.jpeg,NaN,"[Gin, Rin, Shiro, Utsuri]",62754d,34.0,3,NaN
649,grandkoi_data/c73af5_Kohaku- SOLD.jpeg,NaN,[Kohaku],c73af5,33.0,3,NaN
653,grandkoi_data/09d785_Gin Rin Kawarimono-SOLD.jpeg,NaN,"[Gin, Rin, Kawarimono-SOLD]",09d785,31.0,3,NaN
654,grandkoi_data/93704c_Mukashi Ogan.jpeg,NaN,"[Mukashi, Ogan]",93704c,38.0,3,NaN
655,grandkoi_data/9b9e2f_Gin Rin Chagoi.jpeg,NaN,"[Gin, Rin, Chagoi]",9b9e2f,37.0,3,NaN
732,grandkoi_data/0b18d1_Kohaku- SOLD.jpeg,NaN,[Kohaku],0b18d1,25.0,3,NaN
734,grandkoi_data/8c4ff0_Kohaku- SOLD.jpeg,NaN,[Kohaku],8c4ff0,26.0,3,NaN
743,grandkoi_data/6886c0_Shusui- SOLD.jpeg,NaN,[Shusui],6886c0,24.0,3,NaN
762,grandkoi_data/7ba40f_Showa- SOLD.jpeg,NaN,[Showa],7ba40f,29.0,3,NaN
812,grandkoi_data/63684b_Showa- SOLD.jpg,NaN,[Showa],63684b,29.0,3,NaN
829,grandkoi_data/54ba67_Gin Rin Showa- SOLD.jpg,NaN,"[Gin, Rin, Showa]",54ba67,31.0,3,NaN
868,grandkoi_data/e18b41_Gin Rin Matsukawabake- SO...,NaN,"[Gin, Rin, Matsukawabake]",e18b41,24.0,3,NaN
878,grandkoi_data/70bf1b_Maruten Showa- SOLD.jpg,NaN,"[Maruten, Showa]",70bf1b,30.0,3,NaN
888,grandkoi_data/e15678_Ginrin Hi Utsuri- SOLD.jpeg,NaN,"[Ginrin, Hi, Utsuri]",e15678,28.0,3,NaN
896,grandkoi_data/4d304e_Ginrin Hi Utsuri- SOLD.jpeg,NaN,"[Ginrin, Hi, Utsuri]",4d304e,31.0,3,NaN
924,grandkoi_data/e9b852_Kohaku- SOLD.png,NaN,[Kohaku],e9b852,25.0,3,NaN

- the nulls indeed don't have prices, they will eventually be dropped

In [166]:
# drop the original price column and rename 'cleaned_price' to 'price'ArithmeticError

df = df.drop(columns='price')
df = df.rename(columns={'clean_price': 'price'})

df.head()

,image_path,tags,uuid,length,price_length,cleaned_price
27,champkoi_data/f2d44e_Default_Title_—_25C-001_K...,['Kohaku'],f2d44e,NaN,5,600.0
28,champkoi_data/539603_Default_Title_—_25C-002_K...,['Kohaku'],539603,NaN,5,600.0
29,champkoi_data/2126f3_Default_Title_—_25C-003_K...,['Kohaku'],2126f3,NaN,5,600.0
30,champkoi_data/5c0dc1_Default_Title_—_25C-004_K...,['Kohaku'],5c0dc1,NaN,5,600.0
31,champkoi_data/b2c648_Default_Title_—_25C-005_K...,['Kohaku'],b2c648,NaN,5,600.0

In [171]:
# check the null count

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3404 entries, 27 to 3842
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image_path     3404 non-null   object
 1   tags           3404 non-null   object
 2   uuid           3404 non-null   object
 3   length         3155 non-null   float64
 4   price_length   3404 non-null   int64
 5   cleaned_price  3383 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 186.2+ KB

In [172]:
# drop all observations that have nulls

df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3134 entries, 183 to 3842
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image_path     3134 non-null   object
 1   tags           3134 non-null   object
 2   uuid           3134 non-null   object
 3   length         3134 non-null   float64
 4   price_length   3134 non-null   int64
 5   cleaned_price  3134 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 171.4+ KB

In [174]:
# export cleaned dataframe to csv (lists will be turned into strings)

df.to_csv('data/df_cleaned.csv', index=False)

In [175]:
# export cleaned dataframe to json

with open('data/df_cleaned.json', 'w') as f:
  json.dump(df.to_dict(orient='records'), f)